[Unit]
Description=Run IPTV Playlist Builder every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:00:00
Persistent=true
Unit=iptv-playlist.service

[Install]
WantedBy=timers.target
