[Unit]
Description=Run IPTV Playlist Builder every 3 hours

[Timer]
OnCalendar=*-*-* 00/3:00:00
Persistent=true
Unit=iptv-playlist.service

[Install]
WantedBy=timers.target
